Repository digitizdat/skislope-kiro: changes, and which lefthook commands are due for each by the changed paths.
All: python-format, python-lint, frontend-lint, frontend-type-check

python-format:
  run: uv run ruff format --check {staged_files}
  stage_fixed: true

python-lint:
  run: uv run ruff check {staged_files}

frontend-lint:
  run: npm run lint -- {staged_files}

frontend-type-check:
  run: npm run type-check

fix(api): resolve API contract mismatches and datetime serialization
  agents/shared/jsonrpc.py
  agents/tests/test_integration.py
Due: python-format, python-lint

feat(test): add frontend test environment spec and install testing dependencies
  .kiro/specs/frontend-test-environment/design.md
  .kiro/specs/frontend-test-environment/requirements.md
  .kiro/specs/frontend-test-environment/tasks.md
Due: none

feat(test): implement comprehensive WebGL and Three.js test mocking infrastructure
  .eslintrc.cjs
  .kiro/specs/frontend-test-environment/tasks.md
  lefthook.yml
  package-lock.json
  package.json
  src/test/index.ts
  src/test/setup.ts
  src/test/testSetup.test.ts
  src/test/testSetup.ts
  src/test/testUtils.ts
  src/test/webglMocks.ts
  src/utils/ThreeSetup.test.ts
  tsconfig.json
Due: frontend-lint, frontend-type-check

feat(test): fix cache initialization in test environment
  .kiro/specs/frontend-test-environment/tasks.md
  .kiro/steering/development-workflow.md
  .kiro/steering/task-completion-rules.md
  .kiro/steering/tech.md
  scripts/check_task_ready.sh
  src/test/testSetup.ts
  src/utils/CacheManager/CacheManager.ts
Due: frontend-lint, frontend-type-check

feat(test): implement comprehensive browser API mocks for frontend testing
  src/test/README.md
  src/test/browserAPIMocks.ts
  src/test/setup.ts
  src/test/simpleBrowserMocks.test.ts
  src/test/simpleBrowserMocks.ts
  src/test/testSetup.ts
Due: frontend-lint, frontend-type-check

feat(test): implement comprehensive browser API mocks for frontend testing
  .kiro/specs/frontend-test-environment/tasks.md
  src/test/README.md
  src/test/browserAPIIntegration.test.ts
  src/test/browserAPIMocks.simple.test.ts
  src/test/browserAPIMocks.test.ts
  src/test/browserAPIMocks.ts
  src/test/testSetup.ts
Due: frontend-lint, frontend-type-check

fix(workflow): require git staging before precommit validation
  .kiro/steering/task-completion-rules.md
Due: none

feat(test): configure Vitest for optimal frontend testing
  .gitignore
  .kiro/specs/frontend-test-environment/tasks.md
  VITEST_CONFIGURATION.md
  package.json
  src/test/vitest-config.test.ts
  vitest.config.ts
Due: frontend-lint, frontend-type-check

feat(test): add comprehensive async operation test utilities
  .kiro/specs/frontend-test-environment/tasks.md
  src/test/README_ASYNC_UTILS.md
  src/test/asyncTestUtils.test.ts
  src/test/asyncTestUtils.ts
  src/test/index.ts
  src/test/testSetup.test.ts
  src/test/testUtils.ts
Due: frontend-lint, frontend-type-check

test(terrain): fix TerrainService test failures with proper CacheManager mocking
  .kiro/specs/frontend-test-environment/tasks.md
  src/services/TerrainService.test.ts
  src/test/cacheManagerMocks.ts
Due: frontend-lint, frontend-type-check

test(three): verify ThreeSetup WebGL mocking works correctly
  .kiro/specs/frontend-test-environment/tasks.md
Due: none

test(agent-client): fix network mocking and cache integration issues
  .kiro/specs/frontend-test-environment/tasks.md
  src/services/AgentClient.test.ts
Due: frontend-lint, frontend-type-check

fix(test): resolve CacheManager test timeout issues
  .kiro/specs/frontend-test-environment/tasks.md
  src/test/testSetup.ts
  src/utils/CacheManager/CacheManager.integration.test.ts
  src/utils/CacheManager/CacheManager.test.ts
Due: frontend-lint, frontend-type-check

feat(test): enhance package.json test scripts with comprehensive CI/CD integration
  .kiro/specs/frontend-test-environment/tasks.md
  TEST_SCRIPTS_GUIDE.md
  package.json
  scripts/test-runner.js
  scripts/validate-test-env.js
  test.config.js
  test.env
  vitest.config.ts
Due: none

test: verify pre-push hook integration
  .kiro/specs/frontend-test-environment/tasks.md
Due: none

fix(test): exclude integration tests from pre-push hook to prevent blocking
  docs/TASK_13_VERIFICATION_RESULTS.md
  lefthook.yml
Due: none

fix(test): resolve browser API mock failures and integration test imports
  docs/BROWSER_API_MOCK_FIXES_SUMMARY.md
  lefthook.yml
  src/test/browserAPIIntegration.test.ts
  src/test/browserAPIMocks.test.ts
  src/test/browserAPIMocks.ts
  src/test/testSetup.ts
  src/test/webglMocks.ts
Due: frontend-lint, frontend-type-check

ci: add test-results path to allow for test reporting in Actions workflow
  test-results/favicon.ico
  test-results/favicon.svg
Due: none

ci: address permissions issues for the test reporting action
  .github/workflows/integration-tests.yml
Due: none

fix(test): resolve dashboard server port conflicts in CI environments
  agents/tests/integration/dashboard.py
  agents/tests/integration/test_dashboard.py
Due: python-format, python-lint

fix: python linting issues
  .kiro/steering/tech.md
Due: none

fix(ci): add dedicated npm script for JUnit test reporting
  package.json
Due: none

fix(ci): neglected to update GitHub Actions yml during last commit
  .github/workflows/integration-tests.yml
Due: none

fix(test): resolve asyncTestUtils configuration tests in CI environment
  src/test/asyncTestUtils.test.ts
Due: frontend-lint, frontend-type-check

fix: repair integration test issues
  agents/equipment/server.py
  agents/hill_metrics/server.py
  agents/shared/jsonrpc.py
  agents/weather/server.py
  integration-errors.txt
  src/services/AgentClient.ts
Due: python-format, python-lint, frontend-lint, frontend-type-check

fix: update AgentClient tests for new response format
  src/services/AgentClient.test.ts
Due: frontend-lint, frontend-type-check

fix: correct parameter validation in hill metrics agent
  agents/hill_metrics/server.py
Due: python-format, python-lint

fix: correct JSON-RPC parameter handling in agent methods
  agents/shared/jsonrpc.py
Due: python-format, python-lint

fix: remove invalid --port arguments from agent startup in CI
  .github/workflows/integration-tests.yml
Due: none

feat(integration-tests): establish working integration test infrastructure
  agents/hill_metrics/server.py
  debug-agent-call.js
  package.json
  src/services/AgentClient.integration.test.ts
  src/services/AgentClient.ts
  src/test/testSetup.ts
  test_agent_direct.py
  vitest.integration.config.ts
Due: python-format, python-lint, frontend-lint, frontend-type-check

fix(integration-tests): resolve API contract validation issues
  integration-errors.txt
  src/models/AgentTypes.ts
  src/services/AgentClient.integration.test.ts
  src/services/AgentClient.ts
Due: frontend-lint, frontend-type-check

feat(spec): enhance realistic terrain data sources with comprehensive vegetation analysis
  .kiro/specs/realistic-terrain-data-sources/design.md
  .kiro/specs/realistic-terrain-data-sources/requirements.md
  .kiro/specs/realistic-terrain-data-sources/tasks.md
Due: none

feat(terrain): implement multi-tiered data source infrastructure with API integrations
  .kiro/specs/realistic-terrain-data-sources/tasks.md
  agents/hill_metrics/data_sources.py
  agents/hill_metrics/server.py
  agents/hill_metrics/terrain_processor.py
  agents/tests/test_data_sources.py
Due: python-format, python-lint

feat(terrain): replace synthetic DEM generation with real data processing pipeline
  .kiro/specs/realistic-terrain-data-sources/tasks.md
  agents/hill_metrics/terrain_processor.py
  agents/tests/test_terrain_processor_integration.py
Due: python-format, python-lint

fix(terrain): replace strict unique values threshold with elevation range validation
  .kiro/specs/dem-validation-fix/design.md
  .kiro/specs/dem-validation-fix/requirements.md
  .kiro/specs/dem-validation-fix/tasks.md
  .kiro/specs/realistic-terrain-data-sources/tasks.md
  agents/hill_metrics/data_sources.py
  agents/hill_metrics/terrain_processor.py
  agents/tests/test_dem_validation_fix.py
  debug_dem_validation.py
  debug_validation.py
  docs/openapi_opentopography_api_spec.json
  terrain-errors.txt
  test_full_terrain_pipeline.py
  test_results.json
Due: python-format, python-lint

test: update data sources test
  agents/tests/test_data_sources.py
Due: python-format, python-lint

ci: Add git-secrets protection and update .gitignore
  .gitignore
  lefthook.yml
Due: none

feat(terrain): prioritize real data by not caching synthetic terrain
  agent-messages.txt
  agents/hill_metrics/terrain_processor.py
  console-messages.txt
  src/components/EnvironmentView/EnvironmentView.tsx
  src/models/TerrainData.ts
  src/services/TerrainService.ts
  src/utils/CacheManager/CacheManager.ts
Due: python-format, python-lint, frontend-lint, frontend-type-check

Path conditions:
  python-format: any of: *.py
  python-lint: any of: *.py
  frontend-lint: any of: src/**/*.{ts,tsx}
  frontend-type-check: any of: src/**/*.{ts,tsx}
